/* import das fonts */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box
}

/* Mobile First */
header .header-bottom .phone {
  color: red;
}